name: Build MagiskBoot

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Android NDK
        uses: android-actions/setup-ndk@v3
        with:
          ndk-version: r25b

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rust-src

      - name: Add Rust targets
        run: |
          rustup target add i686-unknown-linux-gnu x86_64-unknown-linux-gnu i686-pc-windows-gnu x86_64-pc-windows-gnu

      - name: Build magiskboot
        run: python3 build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: magiskboot-binaries
          path: native/out/
