name: Build magiskboot

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm64
          - arm
          - x86_64
          - x86

    steps:
      - name: Checkout Magisk
        uses: actions/checkout@v4
        with:
          repository: topjohnwu/Magisk
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip git clang lld zip unzip

      - name: Install Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d

      - name: Setup rust nightly
        run: |
          rustup default nightly
          rustup component add rust-src --toolchain nightly

      - name: Build MagiskBoot
        run: |
          python3 build.py ndk
          python3 build.py binary --boot --arch ${{ matrix.arch }}

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: magiskboot-${{ matrix.arch }}
          path: out/${{ matrix.arch }}/magiskboot
